<a id="home-link" href="https://nathanko.com/">
  <img id="logo" src="/src/assets/img/logo-blue.png">
</a>
<main>
  <h1>Reverse Dictionary</h1>
  <h2 id="subtitle">Using Webster's Unabridged Dictionary</h2>
  <div id="" class="center">
    <form #form="ngForm" class="center" (submit)="search(form.value.text)">
      <div id="input-form" class="center">
        <span class="center">
          <input placeholder="Definition to search" name="text" ngModel>
        </span>
        <button type='submit' color="primary">Search</button>
        <div class='clearfix'></div>
      </div>
    </form>
  </div>
  <div id="loading" *ngIf='loading'>Loading...</div>
  <mat-accordion *ngIf='results.length > 0'>
    <mat-expansion-panel *ngFor='let result of results' [expanded]="result === results[0]">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ result .entry }}
        </mat-panel-title>
        <mat-panel-description>
          {{ result.definition }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      Cosine similarity: {{ result.cosine | number: '1.1-2' }}

    </mat-expansion-panel>
  </mat-accordion>
  <footer class="center">
    <a href="http://github.com/nathanko/reverse-dictionary" target="blank">
      <small>
        <img src="/src/assets/img/github-mark.png" style="height:2em;width:2em">
      </small>
    </a>
    <br>
    <small>Developed by <a href="http://nathanko.com" target="blank">Nathan Ko</a></small>.
    <br>
    <small>Data for Webster's Unabridged Dictionary provided by <a href="https://github.com/adambom/dictionary" target="blank">Adam Savitzky (adambom)</a>. Used under the MIT License and Project Gutenberg License.</small>.
  </footer>

</main>